@using System.Security.Claims;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@model EbookApplication.ViewModels.BookViewModel

@{
    ViewData["Title"] = "E-Books";
}

<div class="container-fluid">
    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                @*<a class="nav-link text-dark" asp-area="" asp-controller="Books" asp-action="Create">Add Book</a>*@
                <a class="btn btn-primary m-1" asp-area="" asp-controller="Books" asp-action="Create">Add Book</a>
            </li>
        </ul>
    </div>

    <div class="row mt-3">

        <div class="col-md-8" style="border-right:1px solid rgba(0, 0, 0, 0.1);">

            @*Search*@
            <div class="row mt-2">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <form class="form-inline my-2 my-lg-0 d-inline" asp-controller="Books" asp-action="SearchBook">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for books by Title / Technology" name="SearchString" autocomplete="off">
                            <div class="input-group-append">
                                <button class="btn btn-secondary" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-2"></div>
            </div>

            @*Grossery*@
            <div class="row m-3">
                <div class="btn-group btn-group-sm">
                    @{
                        for (char c = 'A'; c <= 'Z'; c++)
                        {
                            <a name=@c asp-controller="Books" asp-action="ShowByLetter" asp-route-id="@c" class="grocery letters border btn btn-default">&nbsp;@c&nbsp;</a>
                        }
                    }
                </div>
            </div>

            @*Pending & Approved Books*@
            <div id="div_GetPendingApprovedBooks">
                @await Html.PartialAsync("_PendingApprovedBooksList")
            </div>


        </div>

        @*Events*@
        <div class="col-md-4">
            <div id="div_GetEvents">
                @await Html.PartialAsync("_EventsList")
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var ajax_call = function () {
            $.ajax({
                url: '/Books/GetPendingApprovedBooks',
                type: 'Post',
                success: function (objOperations) {
                    $("#div_GetPendingApprovedBooks").html(objOperations);
                },
            });
        };

        var Interval = 20000; // 20 Seconds

        setInterval(ajax_call, Interval);
    });

</script>