@model EbookApplication.ViewModels.BookViewModel

@{
    ViewData["Title"] = "Create Book Details";
}

<style>
    .col-form-label {
        margin-right: -10%;
    }
</style>

<div class="container-fluid">

    <div class="row mt-3">

        <div class="col-md-8" style="border-right:1px solid rgba(0, 0, 0, 0.1);">
            <h3 class="text-center m-4 text-muted">Add E-Book</h3>

            <form enctype="multipart/form-data" id="CreateBooks" asp-controller="Books" asp-action="Create" method="post" class="m-3">
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                <div class="form-group row">
                    <label asp-for="book.BookName" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <input asp-for="book.BookName" type="text" class="form-control" placeholder="Book Name" autocomplete="off" />
                        <span asp-validation-for="book.BookName" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label asp-for="book.Author" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <input asp-for="book.Author" type="text" class="form-control" placeholder="Author Name" autocomplete="off" />
                        <span asp-validation-for="book.Author" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label asp-for="book.PublishedDate" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <input asp-for="book.PublishedDate" class="form-control" placeholder="Published On (YYYY)" />
                        <span asp-validation-for="book.PublishedDate" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label asp-for="book.TechnologyId" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <select asp-for="book.TechnologyId" class="form-control" asp-items="@(new SelectList(@ViewBag.technologyList, "TechnologyId","TechnologyName"))">
                            <option value="" hidden disabled selected>Select a Technology</option>
                        </select>
                        <span asp-validation-for="book.TechnologyId" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label asp-for="book.Description" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <textarea asp-for="book.Description" class="form-control" cols="40" rows="1" placeholder="Description"></textarea>
                        <span asp-validation-for="book.Description" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label asp-for="Image" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <div class="custom-file">
                            <input asp-for="Image" id="upload-dialog" class="form-control custom-file-input" accept="application/pdf" />
                            <label class="custom-file-label">Choose File...</label>
                        </div>
                        <p><small><strong>Note:</strong> Please upload appropriate PDF file</small></p>
                    </div>
                </div>

                <div style="display:flex;" class="form-group row">
                    <label class="col-sm-3 col-form-label"></label>
                    <div id="changePDFLoader" class="col-sm-9">
                        <div id="pdf-loader">Loading Preview ..</div>
                        <canvas id="pdf-preview" width="150"></canvas>
                        <input asp-for="book.ImageUrl" id="txtImgUrl" type="hidden" class="form-control" />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9">
                        <button type="submit" class="btn btn-primary" id="addbtn" title="Create a New E Book">Add</button>
                        <a asp-controller="Books" asp-action="Books" class="btn btn-primary m-1" title="Go To Index Page">Cancel</a>
                    </div>
                </div>
            </form>

        </div>

        @*Events*@
        <div class="col-md-4">
            <div id="div_GetEvents">
                @await Html.PartialAsync("_EventsList")
            </div>
        </div>

    </div>
</div>
<script src="~/js/site.js"></script>
