@model EbookApplication.ViewModels.BookViewModel

@{
    ViewData["Title"] = "Edit Book Details";
    var photoPath = "~/images/" + (Model.ExistingImageUrl ?? "noimage.jpg");
    //var photoPath = (Model.ImageUrl ?? "noimage.jpg");
}

    <form enctype="multipart/form-data" asp-controller="Books" asp-action="Edit" method="post" class="m-3">
        <input hidden asp-for="book.BookId" />
        <input hidden asp-for="ExistingImageUrl" />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group row">
            <label asp-for="book.BookName" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="book.BookName" class="form-control" placeholder="Book Name" />
                <span asp-validation-for="book.BookName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="book.Description" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="book.Description" class="form-control" placeholder="Description" />
                <span asp-validation-for="book.Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Image" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <div class="custom-file">
                    <input asp-for="Image" class="form-control custom-file-input" />
                    <label class="custom-file-label">Choose File...</label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Update</button>
                <a asp-controller="Books" asp-action="Index" class="btn btn-primary m-1">Cancel</a>
            </div>
        </div>
        @section Scripts{
            <script>
                $(document).ready(function () {
                    $('.custom-file-input').on("change", function () {
                        var fileLabel = $(this).next('.custom-file-label');
                        var files = $(this)[0].files;
                        if (files.length > 1) {
                            fileLabel.html(files.length + ' files selected');
                        }
                        else if (files.length == 1) {
                            fileLabel.html(files[0].name);
                        }
                    });
                });
            </script>
        }
    </form>

