@model EbookApplication.ViewModels.BookViewModel

@{
    ViewData["Title"] = "Edit Book Details";
    var photoPath = "/uploadImages/" + (Model.ExistingImageUrl ?? "noimage.jpg");
}

<style>
    .col-form-label {
        margin-right: -10%;
    }
</style>

<h3 class="text-center m-4 text-muted">Edit E-Book</h3>

<div class="row">

    <div class="col-md-8">
        <form enctype="multipart/form-data" asp-controller="Books" asp-action="Edit" method="post" class="m-3">

            <input hidden asp-for="book.BookId" />
            <input hidden asp-for="ExistingImageUrl" />
            <input hidden asp-for="book.StatusId" />
            <input hidden asp-for="book.CreatedBy" />
            <input hidden asp-for="book.CreatedDate" />
            <input hidden asp-for="book.ApprovedBy" />
            <input hidden asp-for="book.ApprovedDate" />
            <input hidden asp-for="book.Author" />
            <input hidden asp-for="book.PublishedDate" />

            @*<div asp-validation-summary="All" class="text-danger"></div>*@
            <div class="form-group row">
                <label asp-for="book.BookName" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    <input asp-for="book.BookName" class="form-control" placeholder="Book Name" />
                    <span asp-validation-for="book.BookName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="book.Description" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    <textarea asp-for="book.Description" class="form-control" cols="40" rows="2" placeholder="Description"></textarea>
                    <span asp-validation-for="book.Description" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="book.TechnologyId" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    <select asp-for="book.TechnologyId" class="form-control" asp-items="@(new SelectList(@ViewBag.technologyList, "TechnologyId","TechnologyName"))"></select>
                    <span asp-validation-for="book.TechnologyId" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="book.Author" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    <input asp-for="book.Author" class="form-control" placeholder="Author Name" />
                    <span asp-validation-for="book.Author" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="book.PublishedDate" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    <input asp-for="book.PublishedDate" class="form-control" placeholder="Published Date" />
                    <span asp-validation-for="book.PublishedDate" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="Image" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    <div class="custom-file">
                        <input asp-for="Image" id="upload-dialog" class="form-control custom-file-input" />
                        <label class="custom-file-label">Choose File..</label>
                    </div>
                    <p><small><strong>Note:</strong> Please upload appropriate PDF file</small></p>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9" style="display:flex;">
                    <label class="col-sm-5 col-form-label">E-Book</label>
                    <label id="changeBookLbl" class="col-sm-5 col-form-label">New E-Book</label>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9" style="display:flex;">
                    <div class="col-sm-5">
                        <img class="imageThumbnail" width="150" src="@photoPath" asp-append-version="true" />
                    </div>
                    <div id="changePDFLoader" class="col-sm-5">
                        <div id="pdf-loader">Loading Preview ..</div>
                        <canvas id="pdf-preview" width="150"></canvas>
                        <input asp-for="book.ImageUrl" id="txtImgUrl" type="hidden" class="form-control" />
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary btn-sm" id="updbtn" title="Update the Existing book">Update</button>
                    <a asp-controller="Books" asp-action="Index" class="btn btn-primary m-1 btn-sm" title="Go To Index Page">Cancel</a>
                </div>
            </div>

        </form>
    </div>
    <div class="col-md-4"></div>

</div>