@using System.Security.Claims;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@model EbookApplication.ViewModels.BookViewModel
@{
    ViewData["Title"] = "E-Books";
    var IsApprovalTitle = false;
}

<div class="container-fluid">

    <div class="row mt-3">

        <div class="col-md-8" style="border-right:1px solid rgba(0, 0, 0, 0.1);">

            @*Search*@
            <div class="row mt-2">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <form class="form-inline my-2 my-lg-0 d-inline" asp-controller="Books" asp-action="SearchBookLanding">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for books by Title / Technology" name="SearchString" autocomplete="off">
                            <div class="input-group-append">
                                <button class="btn btn-secondary" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-2"></div>
            </div>

            @*Grossery*@
            <div class="row m-3">
                <div class="btn-group btn-group-sm">
                    @{
                        for (char c = 'A'; c <= 'Z'; c++)
                        {
                            <a name=@c asp-controller="Books" asp-action="ShowByLetterLanding" asp-route-id="@c" class="grocery letters border btn btn-default">&nbsp;@c&nbsp;</a>
                        }
                    }
                </div>
            </div>

            @*Title-Books(Approved Books)*@

            @foreach (var item in Model.ApprovedList)
            {
                @if (IsApprovalTitle == false)
                {
                    <div class="col-md-12">
                        <h6 class="text-muted" style="font-weight:bold;"><i class="fa fa-thumbs-up" aria-hidden="true"></i> @ViewBag.approvedsubtitle</h6><hr />
                    </div>
                    IsApprovalTitle = true;
                }

                var photoPath = "/uploadImages/" + (item.ImageUrl ?? "noimage.jpg");

                <div class="col-xs-3 col-sm-3 col-md-3 imgdiv" style="padding-top:20px;">
                    <a asp-controller="Books" asp-action="Details" asp-route-id="@item.BookId">
                        <img class="img-responsive border" src="@photoPath" asp-append-version="true" width="115" height="150">
                    </a>
                </div>


            }

        </div>

            <div class="col-md-4">
                <h6 class="text-muted" style="font-weight:bold;padding:6px;"><i class="fa fa-newspaper-o" aria-hidden="true"></i> SP Soft Events</h6><hr />
                <div class="border scroll-text" id="demo2" style="width:100%;height:250px;overflow-y:hidden;">
                    <ul class="fa-ul">
                        <li><i class="fa-li fa fa-bell"></i>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </li>
                        <li><i class="fa-li fa fa-check-square"></i>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, ning essentially unchanged.</li>
                        <li><i class="fa-li fa fa-spinner fa-spin"></i>It was populariesktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</li>
                        <li><i class="fa-li fa fa-square"></i>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </li>
                        <li><i class="fa-li fa fa-list-alt"></i>The point of using Lorem Ipsum is that itke readable English.</li>
                        <li><i class="fa-li fa fa-bar-chart"></i>Many desktop publishing packages andstill in their infancy. </li>
                    </ul>
                </div>
            </div>

        </div>
</div>
