@model EbookApplication.ViewModels.BookViewModel

<h6 class="text-muted" style="font-weight:bold;padding:6px;"><i class="fa fa-newspaper-o" aria-hidden="true"></i> SP Soft Events</h6><hr />
<div class="border scroll-text" id="demo2" style="width:100%;height:250px;overflow-y:hidden;">
    <ul class="fa-ul">
        @foreach (var item in Model.EventsList)
        {
            <li>
                <i class="fa-li fa fa-square"></i>@Html.DisplayFor(modelItem => item.EventDescription)
            </li>
        }
    </ul>
</div>
<script src="~/js/site.js"></script>
