
@{
    ViewData["Title"] = "HandleErrorCode";
}
    <div class="container mt-5">
        <div class="jumbotron">
            <h1>Error Occured</h1>
            <span style="color:red;">@ViewBag.ErrorMessage</span>

        </div>

    </div>

@*<span style="color:red;">Error Path: @ViewBag.RouteOfException</span>*@



