@model EbookApplication.ViewModels.BookViewModel

@{
    ViewData["Title"] = "HandleErrorCode";
}
<div class="row" style="height:500px;">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        @*<img src="~/Images/404-new.svg" alt="404 Page" />*@
        <h3 class="ehcolor text-center mt-4">@ViewBag.ErrorMessage</h3>
        <div class="text-center">
            <img src="~/Images/404-new.svg" alt="404 Page" />
        </div>
        <div class="text-center"><a class="btn-custom" asp-area="" asp-controller="Home" asp-action="Index">Go Back Home</a></div>

    </div>
    <div class="col-md-2"></div>
</div>